[submodule "rix/web"]
	path = rix/web
	url = git@github.com:jostylr/rix-web.git
[submodule "rix/eval"]
	path = rix/eval
	url = git@github.com:jostylr/rix-eval.git
[submodule "packages/parser"]
	path = packages/parser
	url = git@github.com:jostylr/ratmath-parser.git
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:jostylr/ratmath-core.git
[submodule "apps/forge"]
	path = apps/forge
	url = git@github.com:jostylr/ratforge.git
[submodule "apps/cel"]
	path = apps/cel
	url = git@github.com:jostylr/ratcel.git
[submodule "apps/calc"]
	path = apps/calc
	url = git@github.com:jostylr/ratcalc.git
[submodule "rix/parser"]
	path = rix/parser
	url = git@github.com:jostylr/rix-parser.git
[submodule "packages/oracles"]
	path = packages/oracles
	url = git@github.com:jostylr/ratmath-oracles.git
[submodule "packages/units"]
	path = packages/units
	url = git@github.com:jostylr/ratmath-units.git
[submodule "rix/repl"]
	path = rix/repl
	url = git@github.com:jostylr/rix-repl.git
[submodule "apps/webcalc"]
	path = apps/webcalc
	url = git@github.com:jostylr/ratmath-web.git
[submodule "paper"]
	path = paper
	url = git@github.com:jostylr/Reals-as-Oracles.git
[submodule "packages/reals"]
	path = packages/reals
	url = git@github.com:jostylr/ratmath-reals.git
[submodule "packages/algebra"]
	path = packages/algebra
	url = git@github.com:jostylr/ratmath-algebra.git
[submodule "packages/stdlib"]
	path = packages/stdlib
	url = git@github.com:jostylr/ratmath-stdlib.git
[submodule "packages/graphics-core"]
	path = packages/graphics-core
	url = git@github.com:jostylr/ratmath-graphics-core.git
[submodule "packages/graphics-text"]
	path = packages/graphics-text
	url = git@github.com:jostylr/ratmath-graphics-text.git
[submodule "packages/graphics-interactive"]
	path = packages/graphics-interactive
	url = git@github.com:jostylr/ratmath-graphics-interactive.git
[submodule "packages/geometry"]
	path = packages/geometry
	url = git@github.com:jostylr/ratmath-geometry.git
[submodule "packages/stats"]
	path = packages/stats
	url = git@github.com:jostylr/ratmath-statistics.git
[submodule "packagers/calculus"]
	path = packagers/calculus
	url = git@github.com:jostylr/ratmath-calculus.git
[submodule "packages/arith-funs"]
	path = packages/arith-funs
	url = git@github.com:jostylr/ratmath-arithmetic-functions.git
